<html>
  <body>
    <div class="center jumbotron">
      <h1>Communications Engineering</h1>
      <%= form_with scope: :student, url: students_path, local: true do |form| %>
      <p>
        <%= form.label :student_number, 'Student number (k + 12345678)' %><br>
        <%= form.text_field :student_number %>
      </p>
      <p>
        <%= form.submit %>
      </p>
      <% end %>
    </div>
    </div>
</body>

</html>
