<html>
  <body>
    <div class="center jumbotron">
      <h1>Communication Engineering</h1>
      <%= form_with scope: :student, url: students_path, local: true do |form| %>
      <p>
        <%= form.label :student_number %><br>
        <%= form.text_field :student_number %>
      </p>
      <p>
        <%= form.submit %>
      </p>
      <% end %>
    </div>
    </div>
</body>

</html>


<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
}
</script>
