 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 nav a {
   color: white;
 }

 .jumbotron {
    padding: 2rem 2rem;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

.c {
  position: fixed; /* or absolute */
  top: 40%;
  left: 30%;
}

.login {
  width: 200px;
  margin-top: 10vh;
}
