<html>
    <body>
      <div class="center jumbotron">
        <h1 class = "submission">Submission was successful!</h1><br>
        <br><br><a href="https://forms.gle/aEw5FeRcyjHrQw2E6" class="bold">Link zur Google Umfrage</a><br>
        <p>Danke für deine Unterstützung!</p>
      </div>
    </body>
  </html>
