<html

  <body>
    <div class="center jumbotron">

        <h1>Ready for the quiz?</h1>
        <button type="btn" id="checkLocation">Start!</button>


      <p id="demo"></p>
    </div>
    <button type="btn" id="checkLocation">Start!</button>
  </body>
</html>
