<html
  <body>
    <div class="center jumbotron">
      <div class="centered">
        <!---<button type="button" id="checkLocation">Click to continue!</button>--->
        <%= link_to '<button type="button">Click to continue!</button>'.html_safe, new_student_answer_path %>
      </div>
      <p id="demo"></p>
    </div>
  </body>
</html>
