<html

  <body>
    <div class="center jumbotron">
      <div class="centered">
        <h1>Ready for the quiz?</h1>
        <button type="btn">Start!</button>


      </div>
      <p id="demo"></p>
    </div>
  </body>
</html>
