<html

  <body>
    <nav class="navbar navbar-dark bg-dark">
        <%= link_to "Log in", new_question_path %>
    </nav>
    <div class="center jumbotron">
      <div class="centered">
        <button type="button" id="checkLocation">Click to continue!</button>

      </div>
      <p id="demo"></p>
    </div>
  </body>
</html>
